*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Berlin Sans FB";
    scroll-behavior: smooth;
}
body{
    background-color: #f4d1b6;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    position: sticky;
    top: 0;
    background-color: #603515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 70px;
}
div h1 a{
    color: bisque;
}
ul{
    display: flex;
    gap: 30px;
}
ul li a{
    color: bisque;
    font-weight: 500;
}
ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #f4d1b6;
    margin-right: auto;
    transition: 0.4s;
}   
ul li a:hover::after{
    width: 100%;
}
ul li a:hover{
    color: #fff;
}
.fa-solid{
    font-size: 25px;
    color: bisque;
    cursor: pointer;
}
.bar{
    display: none;
}
.container{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    gap: 10px;
}
.container .left{
    width: 50%;
}
.left p{
    font-size: 18px;
    padding-block: 20px;
}
.left h1{
    font-size: 40px;
}
.btn{
    background-color: orangered;
    padding: 12px 30px;
    color: white;
    font-size: 18px;
    display: inline-block;
    transition: 0.4s;
}
.btn:hover{
    background-color: #cb3903;
}
.right{
    width: 50%;
}
.right img{
    width: 100%;
}
section h2{
    text-align: center;
    padding: 100px 0;
    font-size: 28px;
}
.card-container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px
}
.card-container .card-content{
    width: 300px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.274);
    box-shadow: 2px 2px 10px black;
    padding: 40px;
}
.card-container .card-content img{
    width: 100%;
    object-fit: cover;
}
.card-content h3{
    padding-block: 20px;
}
.third-phase-container{
    align-items: center;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px
}
.second-container{
    background-color: antiquewhite;
    padding: 6px;
    overflow: hidden;
}
.third-phase-container .second-container{
    width: 200px;
    height: 200px;
}
.third-phase-container .second-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.third-phase-container .second-container img:hover{
    transform: scale(1.2);
}
#testimony{
    padding: 0 10%;
}
.fourth-phase-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
}
.fPC-content{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 15px;
}
.fPC-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}
.fPC-content p{
    font-size: 14px;
    padding: 0 10px;
    margin: 0 10px;
    padding-block: 20px;
}
footer{
    padding: 40px 10%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
    color: white;
}
.col-1 h3{
    font-size: 18px;
}
.col-1 p{
    width: 300px;
    padding-block: 20px;
    color: #a4a0a0;
}
.col ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.col h3{
    font-size: 18px;
    padding-block: 20px;
}
.col li{
    color: #a4a0a0; 
}
@media (max-width: 630px){
    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        background-color: #603515;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
    }
    .bar{
    display: block;
    }
    nav ul li:last-child{
        padding-bottom: 40px;
    }
    .container{
        flex-direction: column;
        height: auto;
    }
    .container .left, .container .right{
        width: 100%;
    }
    .third-phase-container{
        flex-direction: column;
    }
}
@media (max-width: 450px){
    footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
